<%- include('../partials/sudoheader'); %>
<%- include('../partials/sudosidebar'); %>
<%- include('../partials/sudotopbar'); %>

<!-- Begin Page Content -->
<div class="container-fluid">

    <% const time=data.createdAt %>
    <% const newTime=new Date(time) %>
    <% const finalTime= newTime.getDate() + "/" + (newTime.getMonth()+1) + "/" + newTime.getFullYear() %>

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Here are the details for this order. </h1>
    <p class="mb-4">
        Ordered by- <a href="<%=user.url%>"><%=user.name%></a> <br/>
        Order bill- Ksh <%=data.bill%> <br/>
        Order date- <%=finalTime%>
    </p>

    <h1 class="h3 mb-2 text-gray-800">Products ordered: </h1> <br/>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <!--
            <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
        </div>
        -->
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Product image</th>
                            <th>Name</th>
                            <th>Quantity</th>
                            <th>Price per quantity(ksh)</th>
                            <th>Subtotal(ksh)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% const product=data.items %>
                        <% product.forEach(function(item){ %>
                            <tr>
                                <th>
                                    <img src="<%=item.imgUrl%>" width="140" height="120" >
                                </th>
                                <th><%=item.name%></th>
                                <th><%=item.quantity%></th>
                                <th><%=item.price%></th>
                                <% const subtotal= item.quantity * item.price %>
                                <th><%=subtotal%></th>
                            </tr>
                        <%})%>
                    </tbody> 
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->

<%- include('../partials/sudofooter'); %>