<%- include('../../partials/header'); %>
<%- include('../../partials/head'); %>

<% if (message1.length>0){ %>
  <div class="alert alert-success">
    <%=message1%>
  </div>
<%}%>

<% if (message2.length>0){ %>
  <div class="alert alert-success">
    <%=message2%>
  </div>
<%}%>

<section class="section contact">
  <!-- container start -->
  <div class="container">
    <div class="row">
      <!-- start of first column -->
      <div class="col-lg-6 col-md-7">
        <div class="container">
          <div class="text-center">
            <p>Already have an account? Log in</p>
          </div>
          <form action="/auth/login" method="post">
                
            <div class="form-outline mb-4">
              <label class="form-label" for="username">Username</label>
              <input type="text" id="username" name="uname" class="form-control" required>
            </div>
            <% if (message3.length>0){ %>
              <div class="alert alert-danger">
                <%=message3%>
              </div>
            <%}%>
          
            
            <div class="form-outline mb-4">
              <label class="form-label" for="password">Password</label>
              <input type="password" id="password" name="upass" class="form-control" minlength="8" maxlength="12" required>
            </div>
            <% if (message4.length>0){ %>
              <div class="alert alert-danger">
                <%=message4%>
              </div>
            <%}%>
            
            <button type="submit" class="btn btn-primary btn-block mb-4">Log in</button>

            <div class="row mb-4">
              <div class="col d-flex justify-content-center">
                
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="form2Example34" checked >
                  <label class="form-check-label" for="form2Example34"> Remember me </label>
                </div>
              </div>
          
              <div class="col">
                
                <a href="/password-reset">Forgot password?</a>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!--end of first column-->

      <!--start of second column-->
      <div class="col-lg-6 col-md-57">
        <div class="container">
          <div class="text-center">
            <p>Not a member? Register below</p>
          </div>
          <form action="/auth/signup" method="post">
            <div class="form-outline mb-4">
              <label class="form-label" for="username">Username</label>
              <input type="text" id="username" name="uname" class="form-control" required >
            </div>
            <% if (message5.length>0){ %>
              <div class="alert alert-danger">
                <%=message5%>
              </div>
            <%}%>

            <div class="form-outline mb-4">
              <label class="form-label" for="email">Email address</label>
              <input type="email" id="email" name="uemail" class="form-control" required >
            </div>
            <% if (message6.length>0){ %>
              <div class="alert alert-danger">
                <%=message6%>
              </div>
            <%}%>
            <button type="submit" class="btn btn-primary btn-block mb-4">Register</button>
          </form>
        </div>
      </div>
      <!--end of second column-->
          
    </div>
    <!-- end of row-->
  </div>
  <!-- container end -->
</section>

<%- include('../../partials/footer'); %>